@page "/"

<h1>SignalR Streaming</h1>
<hr />
<p>
    Scenarios where fragments of data arrive over time. When streaming, each fragment is sent to the client or server as soon as it becomes available, rather than waiting for all of the data to become available.
    <a href="https://docs.microsoft.com/en-us/aspnet/core/signalr/streaming?view=aspnetcore-5.0" target="_blank">»»</a>
</p>

